<h2>List a Property</h2>

<%= form_for(@Property) do |f|  %>

    <div class="price">
      <%= f.text_field :price %>
    </div>

    <div class="number_of_bedrooms">
      <%= f.text_field :number_of_bedrooms %>
    </div>

    <div class="number_of_bathrooms">
      <%= f.text_field :number_of_bathrooms %>
    </div>

    <div class="number_of_receptions">
      <%= f.text_field :number_of_receptions %>
    </div>

    <div class="kitchen_type">
      <%= f.text_field :kitchen_type %>
    </div>

    <div class="keyword">
      <%= f.text_field :keyword %>
    </div>

    <div class="property_type">
      <%= f.text_field :property_type %>
    </div>

    <div class="status">
      <%= f.text_field :status %>
    </div>

    <div class="parking">
      <%= f.text_field :parking %>
    </div>

    <div class="outdoor_space">
      <%= f.text_field :outdoor_space %>
    </div>

    <div class="description">
      <%= f.text_field :description %>s
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>