<h2>List an Address</h2>

<%= form_for(@Room) do |f|  %>

    <div class="room_length">
      <%= f.text_field :room_length %>
    </div>

    <div class="room_width">
      <%= f.text_field :room_width %>
    </div>

    <div class="room_type">
      <%= f.text_field :room_type %>
    </div>

    <div class="measurement_unit">
      <%= f.text_field :measurement_unit %>
    </div>

    <div class="description">
      <%= f.text_field :description %>
    </div>

    <div class="address_line_1">
      <%= f.text_field :address_line_1 %>
    </div>

    <div class="address_line_2">
      <%= f.text_field :address_line_2 %>
    </div>

    <div class="town_city">
      <%= f.text_field :town_city %>
    </div>

    <div class="post_code">
      <%= f.text_field :post_code %>
    </div>

    <div class="county">
      <%= f.text_field :county %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>