<footer>
    <div id="footer-legal-back">
        <div id="footer-legal">
            <div class="footer-col">
                <span><strong>Get to know us</strong></span>
                <span><%= link_to "About Us", about_path %></span>
                <span><%= link_to "Contact Us", contact_path %></span>
                <span><%= link_to "Terms of Use", terms_path %></span>
                <span><%= link_to "Cookie Policy", cookie_path %></span>
            </div>
            <div class="footer-col">
                <span><strong>Getting Started</strong></span>
                <span><%= link_to "4 Easy Steps", how_it_works_path %></span>
                <span><%= link_to "Sell Your Property", account_path %></span>
                <span><%= link_to "Fees", fees_path %></span>
                <span><%= link_to "FAQs", faq_path %></span>
            </div>
        </div>
    </div>
    <div class="footer-copyright-back">
        <div class="footer-copyright">
            &copy Copyright HomeHunter 2015
        </div>
    </div>
</footer>