<header>
    <div id="header-top-container">
        <div id="header-top">
            <div class="float-left" id="user-profile-link">
                <% unless signed_in? %>
                    <%= link_to "Home Hunter", root_path %>
                <% end %>
            </div>

            <div class="float-right" id="user-control">
                <% if signed_in? %>
                    <% if current_user.first_name == nil or current_user.last_name == nil %>
                        <%= link_to account_path do %>
                            <%= current_user.email %>
                        <% end %>
                         |
                    <% else %>
                        <%= link_to account_path do %>
                            <%= current_user.first_name + " " + current_user.last_name %>
                        <% end %>
                         |
                    <% end %>
                    
                    <%= link_to "Log Out", custom_log_out_path %>
                <% else %>
                    <%= link_to "Login", sign_in_path %> |
                    <%= link_to "Register", sign_up_path %>
                <% end %> 
                
            </div>
        </div>
    </div>

    <div id="nav-container">
        <div id="nav">
            <div id="logo">
                <%= link_to root_path do %>
                    <%= image_tag "Logo.jpg", class: "logo", alt: "Logo" %>
                <% end %>
            </div>

            <div id="header-link-container">
                <% if signed_in? %>
                    <%= link_to account_path do %>
                        <div class="links-col">
                            My Account
                        </div>
                    <% end %>
                <% end %>

                <%= link_to how_it_works_path do %>
                    <div class="links-col">
                        How it Works
                    </div>
                <% end %>

                <%= link_to fees_path do %>
                    <div class="links-col">
                        Fees
                    </div>
                <% end %>

                <%= link_to advice_path do %>
                    <div class="links-col">
                        Advice
                    </div>
                <% end %>

                <%= link_to faq_path do %>
                    <div class="links-col">
                        FAQs
                    </div>
                <% end %>
            </div>

            <!--Menu for small window here-->
            <div id="menu-top">
                <a href="#" class="menu">≡ <span>Menu</span></a>
            </div>

        </div>
    </div>
</header>

<div class="content-drawer">
    <div class="drawer" id="drawer">
        <nav>
            <ul>
                <% if signed_in? %>
                    <li><%= link_to "My Account", account_path %></li>
                <%  end %>
                <li><%= link_to "Advice", advice_path %></li>
                <li><%= link_to "How It Works", how_it_works_path %></li>
                <li><%= link_to "Fees", fees_path %></li>
                <li><%= link_to "FAQs", faq_path %></li>
            </ul>
        </nav>
    </div>
</div>