<div class="content" id="content-FAQ">
    <div class="content-left">
        <div id="listing-price">
            <h2>PRICE:</h2> £1,000,000
        </div>

        <div id="listing-iconcontainer">
            <div class="listing-icon"><%= image_tag "bed.png" %></div>
            <div class="listing-icon">2</div>
            <div class="listing-icon"><%= image_tag "bath.png" %></div>
            <div class="listing-icon">1</div>
            <div class="listing-icon"><%= image_tag "sofa.png" %></div>
            <div class="listing-icon">1</div>
        </div>    
        <br/>
        
        <div id="listing-forsale">
            2 Bedroom Detatched House - Herriman Rose Boulevard, Salt Lake
        </div>
        
        <div class="slider-container">
            <%= image_tag "house.jpg", class: "listing" %>
        </div>

        <br/>

        <div id="listing-info">
            <div id="listing-description">
                <h2>Description</h2>
                
                <p>
                    A young Carl Fredrickson meets a young adventure-spirited girl named Ellie. They both dream of going to a lost land in South America. 70 years later, Ellie has died. Carl remembers the promise he made to her. Then, when he inadvertently hits a construction worker, he is forced to go to a retirement home. But before they can take him, he and his house fly away. However, he has a stowaway aboard: an 8-year-old boy named Russell, who's trying to get an Assisting the Elderly badge. Together, they embark on an adventure, where they encounter talking dogs, an evil villain and a rare bird named Kevin.
                </p>

                
            </div>

            <div id="listing-map">

                <h2>Map</h2>

                <iframe width="302" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=13222%20Herriman%20Rose%20Boulevard%2C%20Herriman%2C%20Salt%20Lake%20County%2C%20UT%2C%20United%20States&key=AIzaSyD_i-2RUrF8HWV5zQ8BRpMtBjpnaJCQK4Y"></iframe>

                <iframe width="302" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?location=40.5120%2C-112.0194&key=AIzaSyD_i-2RUrF8HWV5zQ8BRpMtBjpnaJCQK4Y"></iframe>
            </div>

            <div id="listing-features">
                <h2>Features</h2>
                <p>features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! features!!! </p>
            
            </div>

            <div id="listing-floorplan"> 
                <h2>Floorplan</h2>

                <%= image_tag "floorplan.jpg" %>
            </div> 
            
            <div id="listing-school"> 
                <h2>Schools</h2>
                <p>schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!! schools!!!</p>
            </div> 

            <div id="listing-transport"> 
                <h2>Transport</h2>
                <p>transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! transport!!! </p>
            </div> 

            <div id="listing-keywords">
                <h2>Keywords: House From Up, etc</h2>
            </div>    
        </div>
    </div> 
</div>