<div class="account-content">
	<div id="account-sidebar">
		<ul>
            <li class="sidebar-selected">
				<h1>Create Listings</h1>
            </li>
            <li>
				<%= link_to account_incomplete_path do %>
	                <h1>Incomplete Listings</h1>
           		<% end %>
            </li>
            <li>
				<%= link_to account_active_path do %>
	                <h1>Active Listings</h1>
           		<% end %>
            </li>
            <li>
				<%= link_to account_inactive_path do %>
	                <h1>Inactive Listings</h1>
           		<% end %>
            </li>
            <li>
				<%= link_to account_details_path do %>
	                <h1>Details</h1>
           		<% end %>
            </li>
		</ul>
	</div>

	<div class="account-right" id="account-right-details">
		<h1>Create Listing</h1>
		<div class="divider-bar"></div>
		<div class="account-subheading">
			Do you have a property you'd like to sell? List it here!
		</div>
        <div class="account-subheading">
        	With our easy to use process you'll have your property on <a href="http://www.rightmove.co.uk/" target="_blank">RightMove</a> and <a href="http://www.zoopla.co.uk/" target="_blank">Zoopla</a> in no time!
        </div>
        <div class="account-subheading">
        	If you are still unsure of the process that Home Hunter will take you through please feel free check the <%= link_to "How It Works", how_it_works_path %>, <%= link_to "Advice", advice_path %> or <%= link_to "FAQ", faq_path %> pages.
        </div>
        <div class="account-subheading"> 
        	For imformation on pricing please refer to the <%= link_to "Fees", fees_path %> page.
    	</div>
        <div class="form-control-group">
        	<%= link_to new_listing_path do %>
        		<input type="submit" name"getstarted" value="Get Started!" id="get-started">
        	<% end %>
        </div>	
	</div>
</div>