<div class="account-content">
	<div id="account-sidebar">
		<ul>
            <li>
                <%= link_to account_create_path do %>
                    <h1>Create Listings</h1>
                <% end %>
            </li>
            <li>
                <%= link_to account_incomplete_path do %>
                    <h1>Incomplete Listings</h1>
                <% end %>
            </li>
            <li>
                <%= link_to account_active_path do %>
                    <h1>Active Listings</h1>
                <% end %>
            </li>
            <li>
                <%= link_to account_inactive_path do %>
                    <h1>Inactive Listings</h1>
                <% end %>
            </li>
            <li class="sidebar-selected">
                <h1>Details</h1>
            </li>
		</ul>
	</div>

    <div class="account-right" id="account-right-details">
        <h1>Edit Your Details</h1>
        <div class="divider-bar"></div>
            <div class="account-subheading"> Feel free to edit your personal details, and let us know how you prefer to be contacted. </div>
            <%= form_tag("edit", method: "post") do %>
                <fieldset>
                    <div class="form-control-group">
                       <span class="fontawesome-user"><i class="fa fa-user"></i></span>
                        <%= text_field_tag :first_name, current_user.first_name, class: 'icon-input', placeholder: 'First Name' %>
                    </div>
                    <div class="form-control-group">
                        <span class="fontawesome-user"><i class="fa fa-user"></i></span>
                        <%= text_field_tag :last_name, current_user.last_name, class: 'icon-input', placeholder: 'Last Name' %>
                    </div>
                    <div class="form-control-group">
                        <span class="fontawesome-user"><i class="fa fa-at"></i></span>
                        <%= text_field_tag :email, current_user.email, class: 'icon-input', placeholder: 'Email Address' %>
                    </div>

                    <div class="form-control-group">
                        <span class="fontawesome-user"><i class="fa fa-lock"></i></span>
                        <%= password_field_tag :password, nil, class: 'icon-input', placeholder: 'Password' %>
                    </div>

                    <div class="form-control-group">
                        <span class="fontawesome-user"><i class="fa fa-lock"></i></span>
                        <%= password_field_tag :confirm_password, nil, class: 'icon-input', placeholder: 'Confirm Password' %>
                    </div>
                    <div class="form-control-group">
                        <span class="fontawesome-user"><i class="fa fa-mobile"></i></span>
                        <%= text_field_tag :phone_number, current_user.phone_number, class: 'icon-input', placeholder: 'Phome Number' %>
                    </div>
                    <div class="form-control-group">
                        <%= submit_tag 'Save Details' %>
                    </div>
                </fieldset>
            <% end %>
           </div>
        </div>
    </div>
</div>