<div class="content">
    <div id="content-login">
        <%= form_for @user do |form| %>
            <fieldset>
                <legend>Register with HomeHunter</legend>
                <hr class="divider-bar"></hr> 

                <div class="form-control-group">
                    <span class="fontawesome-user"><i class="fa fa-at"></i></span>
                    <%= form.text_field :email, type: 'email', class: 'icon-input', placeholder: 'Email Address' %>
                </div>

                <div class="form-control-group">
                    <span class="fontawesome-user"><i class="fa fa-at"></i></span>
                    <%= form.text_field :email, type: 'email', class: 'icon-input', placeholder: 'Confirm Email Address' %>
                </div>

                <div class="form-control-group">
                    <span class="fontawesome-user"><i class="fa fa-lock"></i></span>
                    <%= form.password_field :password, class: 'icon-input', placeholder: 'Password' %>
                </div>

                <div class="form-control-group">
                    <span class="fontawesome-user"><i class="fa fa-lock"></i></span>
                    <%= form.password_field :password, class: 'icon-input', placeholder: 'Confirm Password' %>
                </div>

                <div class="form-control-group">
                    <%= form.submit id: 'submit-register', value: 'Register' %>
                </div>

                <div class="form-control-group" id="other-links">
                    Already Registered? <%= link_to "Login", sign_in_path %>
                </div>

            </fieldset> 
        <% end %>
    </div> 
</div>